version: '3.9'
services:
  app:
    build: .
    container_name: bulk-validator-api
    restart: unless-stopped
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - ./output:/app/output
    depends_on:
      - mail
  mail:
    image: mailhog/mailhog:latest
    container_name: mailhog
    ports:
      - "8025:8025" # Web UI
      - "1025:1025" # SMTP
    environment:
      - MH_STORAGE=maildir
      - MH_MAILDIR_PATH=/maildir
    volumes:
      - ./maildir:/maildir
